.app.dark {
    --bg-color: #0e1315;
    --inverted-bg-color: #161d21;
    --primary-color: #e6e6e6;
    --secondary-color: #b3b3b3;
    --inverted-primary-color: #9eade6;
    --inverted-secondary-color: #121212;
}
