.app.dark {
    --bg-color: #0E1315;
    --inverted-bg-color: #161D21;

    --primary-color: #E6E6E6;
    --secondary-color: #B3B3B3;
    --inverted-primary-color: #9EADE6;
    --inverted-secondary-color: #121212;
}
