:root {
    --bg-color: #FFFFFF;
    --inverted-bg-color: #F5F5F5;

    --primary-color: #6C6C6C;
    --secondary-color: #898989;
    --inverted-primary-color: #5472D4;
    --inverted-secondary-color: #CED6F1;
}
