:root {
    --bg-color: #fff;
    --inverted-bg-color: #f5f5f5;
    --primary-color: #6c6c6c;
    --secondary-color: #898989;
    --inverted-primary-color: #5472d4;
    --inverted-secondary-color: #ced6f1;
}
